@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(6, 3, 63);
  background: linear-gradient(
    180deg,
    rgb(12, 8, 97) 0%,
    rgb(15, 15, 116) 25%,
    rgb(40, 59, 151) 100%
  );
  background-attachment: fixed;
}
